<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<div class="header1" align="center">УПОТРЕБЛЕНИЕ СЛОВА В ТВИТТЕРЕ</div>
<div class="intro" align="justify">
	Приложение строит график употребления слова в твиттере примерно за последнюю неделю.
	ВНИМАНИЕ, благодаря некоторым особенностям твиттера, время работы может быть весьма долгим.
	Максимальное количество твитов обрабатываемых программой – 10000. 
</div>
<body class = 'page'>
<form name="user_info"class = 'parent pagecenter'>
    <br><div align="center">слово которое вы хотите проверить: &nbsp;<input type="text" name="word" required="true"></div><br>
    <div class="submit"><input type="submit" class="button15" value="искать"/></div><br>	
</form>	
</body>